<div class="page-wrapper" fxLayout="row" fxLayoutAlign="center start">
  <div class="page-content">
    <div class="welcome-area">
      <div class="register-panel" fxLayout="row" fxLayoutAlign="center center">
        <button type="button" class="btn btn-special" (click)="register()">特割プラン
          <!--&nbsp;-->
          <!--<fa name="caret-right" size="1x"></fa>-->
        </button>
        <button type="button" class="btn btn-corporate" (click)="register()">個人割プラン
          <!--&nbsp;<fa name="caret-right" size="1x"></fa>-->
        </button>
      </div>
    </div>
  </div>
</div>

