<div class="page-wrapper" id="page-wrapper-finish" fxLayout="row" fxLayoutAlign="center start">
  <div class="page-content">
    <div class="stepper-wrapper" fxLayout="row" fxLayoutAlign="center start">
      <app-stepper class="stepper" [stepperData]="stepperData" [currentStep]="3"></app-stepper>
      <div class="illustrator"></div>
    </div>
    <div class="application-area" fxLayout="column" fxLayoutAlign="center center">
      <div class="msg-confirm" fxLayout="row" fxLayoutAlign="center center">
        <p>登録に成功しました。</p>
      </div>
      <div class="set-back">
        <!--<a routerLink="/welcome"><fa name="angle-double-left" size="1x"></fa>&nbsp;&nbsp;家に帰る</a>-->
      </div>
    </div>
  </div>
</div>
