<nav class="navbar" fxLayout="row" fxLayoutAlign="center center">
    <div id="navbar-content-id" class="navbar-content-tepco" fxLayout="row" fxLayoutAlign="space-between center">
        <a routerLink="/welcome" class="logo-container">
            <!--<div class="logo-container">-->

            <!--</div>-->
        </a>
        <!--<div class="info" fxLayout="row" fxLayoutAlign="end center">-->
            <!--<a class="nav-item" routerLink="/welcome">-->
                <!--<fa name="angle-right" size="1x"></fa>-->
                <!--よくあるご質問</a>-->
            <!--<a class="nav-item " routerLink="/welcome">-->
                <!--<fa name="angle-right" size="1x"></fa>-->
                <!--お問い合わせ</a>-->
        <!--</div>-->
    </div>
</nav>
